[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
pymupdf = "*"
pillow = "*"
redis = "*"
crewai = {extras = ["tools"], version = "*"}
python-dotenv = "*"
opencv-python-headless = "*"
easyocr = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
